pandas
numpy
requests
urllib3
pytest
pytest-cov
requests_futures
holidays
businesstimedelta
statsmodels
sklearn
seaborn
Cython 
pymssql 
feather-format 
xgboost 
matplotlib 
plotly
grequests
pyproj
descartes
jupyter
jupyterlab
python-louvain
